<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
author &nbsp&nbsp&nbsp  ==>&nbsp&nbsp&nbsp&nbsp&nbsp yuri_fisher<br>
email   &nbsp&nbsp&nbsp&nbsp&nbsp ==>&nbsp&nbsp&nbsp&nbsp&nbsp2223632436@qq.com<br>
github  &nbsp&nbsp&nbsp&nbsp    ==>&nbsp&nbsp&nbsp&nbsp&nbspgithub.com/antig

</p>

