<% provide(:title, 'Me') %>
<h1>Me</h1>
<p >
author &nbsp&nbsp&nbsp	==>&nbsp&nbsp&nbsp&nbsp&nbsp yuri_fisher<br><br>
A student studying at DaLian JiaoTong University.<br>
A naughty boy, a good boy<br>
Focus on Penetration Testing Technology<br>
</p>

<br>

<p >
现就读大连交通大学<br>
一个不听话的好孩子<br>
专注于渗透测试技术
</p>


