<% provide(:title, 'About') %>

<h1>致谢名单</h1>

<p>
感谢邹丽老师指导如何编写网站的设计说明及用例图画法。<br><br>

感谢Stack Overflow，这是我迄今为止见过的最棒的IT类技术问答网站。里面的内容包罗万象，答案简洁明快，没有灌水，没有漫骂攻击。现在就<a href=http://stackoverflow.com/>访问stack_overflow</a><br><br>

感谢rails教程的作者MichaelHartl，他带领我入门。<br><br>

感谢ruby-chain社区的牛人们，是你们突破了GWF的限制，使我每次run `bundle install` 的时候，免于长长的等待。<br><br>

感谢新东方的李笑来老师，当我给他发邮件求助时，他很慷慨的发来了他程序的源码让我借鉴和参考。这是他的个人网站 ==><a href= https://about.me/xiaolai>李笑来.com</a><br>
制作的相当精美，让我很吃惊一个非科班出身的英语老师，也能写出如此棒的网站。<br>
这让我明白，编程绝不止是程序员的事，每个人都可以参与。<br><br>

在此，再次致谢！<br><br>

</p>
<font style="FONT-SIZE: 12pt" face=文鼎花瓣体 color=purple align="right"> 
yuri_fisher<br>
2015/07/16 午夜子时
</font>
<p>
